.meme-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  background-color: var(--background-color);
}

.label {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 80%;
  padding: .5rem;
  margin-left: 5rem;
}